*,
*:before,
*:after {
  box-sizing: border-box;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.title{
  font-family: arapey;
  color: #9db0d1;
  font-size: 60px;
  text-align: center;
  margin-top: 100px;

}
.subtitle{
  font-family: verdana;
  font-size: 20px;
  color: #000000;
  text-align: center;
  margin: 0 auto;
  width: 1024px;
  padding: 50px;
  

}
.press{
  background: #EBAC87;
  border-radius: 10px;
  margin: 600px;
  padding: 24px 50px;
  font-family: arapey;
  font-size: 30px;
  color: #FFFFFF;
}
.link{
  display:flex;
  justify-content: center;
  
}

.circle{
  background: #9DB0D1;
  margin-top: 50px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: 15px 18px 17px 15px;
}

.navigation{
  font-family: verdana;
  font-size: 20px;
  margin: 70px 50px 0 15px;
}

.headline{
  background: url(https://i.ibb.co/tZf6hT9/cloud.png) repeat-x top / auto 200px, 
  linear-gradient(180deg, rgba(135, 198, 235, 0) 8.33%, #87C6EB 93.06%);
  padding: 250px 120px 100px;
  font-family: 'Arapey';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 44px;
  text-align: center;
}

.block{
  background: 
  #87C6EB;
}
  
   .container{
     width: 1200px;
     display: flex;
     justify-content: space-between;
     margin: 0 auto;
   }

       .box{
         width: 350px;
     height: 560px;
     border-radius: 10px;
     padding: 20px 20px;
     background-color: #FFFFFF;
   }
  
       .number{
     width: 60px;
     height: 60px;
     font-family: verdana;
     font-size: 30px;
     line-height: 36px;
     padding: 12px 20px;
     color: #FFFFFF;
     background: #EBAC87;
     border-radius: 50%;
   }

       .image{
     background: #EBAC87;
     width: 310px;
     height: 310px;
     margin-top: 10px;
   } 

       .image img{
     width: 100%
   }

       .logo{
     width: 260px;
     height: 120px;
     font-family: verdana;
     font-size: 20px;
     line-height: 24px;
     margin-top: 20px ;
   }

       .important{
     font-weight: bold;
   }


   .caption{
  background: url(https://i.ibb.co/8cpHd7c/mount.png) no-repeat right bottom / auto 475px;
  padding-bottom: 50px;
  

  }
  .slogan{
    padding: 75px 720px 0 160px;
    margin-bottom: 50px;
  }

.text{
  width: 600px;
  height: 132px;
  font-family: arapey;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 44px;
  margin-bottom: 50px;
  color:#FFFFFF;
}

.name{
    width: 600px;
    height: 75px;
    font-family: verdana;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    }


    .menu{
    width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
   }

  .nav-box{
    width: 220px;
    height: 80px;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 24px;
    font-family: arapey;
    font-size: 30px;
    text-align: center;
    color: #EBAC87;

   }
   .question{
    width: 80px;
    height: 80px;
    border-radius: 50%; 
   font-family: verdana;
   font-size: 60px;
   color: #FFFFFF;
   background: #EBAC87;
   padding: 4px 24px ;

   }

.click{

  height: 80px;
  background: #EBAC87;
  border-radius: 10px;
  padding: 24px 50px 24px;
  font-family: arapey;
  font-size: 30px;
  color: #FFFFFF;
  margin-top:50px ;

}
.bar{
  display: flex;
  justify-content: flex-end;
}
.widget{
width: 24px;
height: 24px;
margin: 78px 34px;


  

}
.nav{
 width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;

  
  
}
   
  


